@{
    ViewData["Title"] = "Kontakt";
}

<div class="container p-2">
    <div class="row p-2">
        <div class="col-12">
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row p-2">
        <h5><a href="https://gravatar.com/ppucik" target="_blank"></a>Ing. Peter PÚČIK</h5><br /><br />
        <p><i class="bi bi-envelope"></i>&nbsp;Email:&nbsp;<a href="mailto:ppucik@gmail.com">ppucik@gmail.com</a></p>
        <p><i class="bi bi-house"></i>&nbsp;Web:&nbsp;<a href="https://peterpucik.sk" target="_blank">peterpucik.sk</a></p>
        <p><i class="bi bi-github"></i>&nbsp;<a href="https://github.com/ppucik" target="_blank">GitHub</a></p>
    </div>
</div>
